::ng-deep {
  .p-button {
    width: 100%;
  }
}

input {
  height: 60px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(#000, 0.1);
}

.calculator {
  background-color: #ebf5ff;
  padding: 15px 10px;
  max-width: 330px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(#000, 0.2);
}
