<div class="calculator grid">
  <div class="grid">
    <div class="col-12">
      <div class="">
        <ng-container *ngIf="equation.length">
          <ng-container *ngFor="let operation of equation">
            {{ operation }}
          </ng-container>
        </ng-container>
      </div>
      <input class="col-12" [value]="result || newOperation" readonly />
    </div>

    <div class="col-12">
      <div class="col-12 grid m-0 p-0">
        <p-button styleClass="p-button-raised p-button-danger" class="col-3" (onClick)="clear()">C</p-button>
        <p-button styleClass="p-button-raised p-button-secondary" class="col-3" (onClick)="addParentheses('(')">(
        </p-button>
        <p-button styleClass="p-button-raised p-button-secondary" class="col-3" (onClick)="addParentheses(')')">)
        </p-button>
        <p-button styleClass="p-button-raised p-button-danger" class="col-3" (onClick)="remove()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </p-button>
      </div>

      <div class="col-12 grid m-0 p-0">
        <p-button styleClass="p-button-secondary" class="col-3" (onClick)="add('7')">7</p-button>
        <p-button styleClass="p-button-secondary" class="col-3" (onClick)="add('8')">8</p-button>
        <p-button styleClass="p-button-secondary" class="col-3" (onClick)="add('9')">9</p-button>
        <p-button styleClass="p-button-info" class="col-3" (onClick)="addOperation(templateEnums.operations.Divide)">
          /</p-button>
      </div>

      <div class="col-12 grid m-0 p-0">
        <p-button styleClass="p-button-secondary" class="col-3" (onClick)="add('4')">4</p-button>
        <p-button styleClass="p-button-secondary" class="col-3" (onClick)="add('5')">5</p-button>
        <p-button styleClass="p-button-secondary" class="col-3" (onClick)="add('6')">6</p-button>
        <p-button styleClass="p-button-info" class="col-3" (onClick)="addOperation(templateEnums.operations.Subtract)">-
        </p-button>
      </div>

      <div class="col-12 grid m-0 p-0">
        <p-button styleClass="p-button-secondary" class="col-3" (onClick)="add('1')">1</p-button>
        <p-button styleClass="p-button-secondary" class="col-3" (onClick)="add('2')">2</p-button>
        <p-button styleClass="p-button-secondary" class="col-3" (onClick)="add('3')">3</p-button>
        <p-button styleClass="p-button-info" class="col-3" (onClick)="addOperation(templateEnums.operations.Add)">+
        </p-button>
      </div>

      <div class="col-12 grid m-0 p-0">
        <p-button styleClass="p-button-secondary" class="col-4" (onClick)="add('0')">0</p-button>
        <p-button styleClass="p-button-info" class="col-4" (onClick)="addOperation(templateEnums.operations.Multiply)">*
        </p-button>
        <p-button styleClass="p-button-info" class="col-4" (onClick)="calculate()">=</p-button>
      </div>
    </div>
  </div>

  <a routerLink="/history">
    History
  </a>
</div>

<p-toast position="bottom-center" key="calculator-toast"></p-toast>